<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @themes.each do |theme| %>
        <div class="column is-one-third">
          <%= render "card", theme: theme%>
        </div>
      <% end %>
    </div>
  </div>
</section>

