<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      <% @themes.each do |theme| %>
        <div class="column">
          <div class="notification">
            <%= link_to theme.name, theme, class: "title is-size-4" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

