<section class="section">
  <div class="container">
    <article class="notification">
      <div class="content">
        <h1 class="title has-text-black"><%= @theme.name %></h1>
        <h4 class="subtitle is-6 has-text-right"><%= @theme.user.email %></h4>
        <p><%= @theme.description %></p>
      </div>
    </article>
  </div>
</section>
